.card {
  display: flex;
  width: 50%;
  margin: auto;
}

.card header {
  display: flex;
  height: 20%;
  justify-content: flex-start;
  align-items: center;
}

.card header img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
