.card {
  display: flex;
  width: 50%;
  margin: auto;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.card header {
  display: flex;
  height: 20%;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: row;
}

.card header img {
  width: 48px;
  height: 48px;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 2%;
}

.card header .header-info {
  display: flex;
  flex-direction: row;
  margin: 2% 0% 0% 2%;
}

.card footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card footer div {
  display: flex;
  flex-direction: row;
}
